<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience & Education</h2>
                    <h3 class="section-subheading text-muted">Relevance experience and education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2023</h4>
                                    <h4 class="subheading">Senior Software Engineer</h4>
                                </div>
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Created dynamic and interactive user interfaces by implementing front-end functionality in Laravel, PHP, MySQL, Vue, React, JavaScript, and AWS.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Worked with cross-functional teams of designers, project managers, and backend developers to deliver high-quality, scalable solutions.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Involved in agile development methodologies such as daily stand-ups, sprint planning, and retrospectives.
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Vue Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                            <li>    
                                                <p class="text-muted">
                                                I was well-versed in JavaScript as well as Vue's declarative syntax for creating reusable and maintainable components. 
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 I was an HTML and CSS expert with the ability to design visually appealing user interfaces. Vue's ecosystem, which included Vuex for state management and Vue Router for application routing, was familiar to me.
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2015</h4>
                                    <h4 class="subheading">Radio Television and Film, <br /> California State University, Fullerton </h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
